@charset "UTF-8";
@font-face {
  font-family: 'Circe';
  src: url("../fonts/Circe/Circe-Regular.eot");
  src: url("../fonts/Circe/Circe-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe/Circe-Regular.woff") format("woff"), url("../fonts/Circe/Circe-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Circe Bold';
  src: url("../fonts/Circe/Circe-Bold.eot");
  src: url("../fonts/Circe/Circe-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe/Circe-Bold.woff") format("woff"), url("../fonts/Circe/Circe-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'IntroScriptR-H2Base';
  src: url("../fonts/IntroScriptR-H2Base/IntroScriptR-H2Base.eot");
  src: url("../fonts/IntroScriptR-H2Base/IntroScriptR-H2Base.eot?#iefix") format("embedded-opentype"), url("../fonts/IntroScriptR-H2Base/IntroScriptR-H2Base.woff2") format("woff2"), url("../fonts/IntroScriptR-H2Base/IntroScriptR-H2Base.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/*$desktop-width: 1366px;*/
body {
  font-family: Circe, Arial, sans-serif;
  background-color: #fff;
  margin: 0 auto; }
  @media (max-width: 767px) {
    body {
      min-width: 320px; } }
  @media (min-width: 768px) {
    body {
      min-width: 768px; } }
  @media (min-width: 1240px) {
    body {
      min-width: 1240px; } }

img {
  max-width: 100%;
  height: auto; }

.btn {
  text-decoration: none;
  display: inline-block;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: inherit;
  cursor: pointer;
  border-radius: 26px;
  background-color: #f50049;
  color: #ffffff;
  font-family: Circe, Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 26.73px;
  text-transform: uppercase; }

.btn:hover {
  -webkit-box-shadow: 0 5px 7px 1px rgba(255, 0, 67, 0.3);
          box-shadow: 0 5px 7px 1px rgba(255, 0, 67, 0.3); }

.btn:active {
  opacity: 0.6;
  -webkit-box-shadow: none;
          box-shadow: none; }

.container {
  margin: 0 auto;
  /*width: 280px;*/
  width: 87.5%;
  outline: 1px dashed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative; }
  @media (max-width: 767px) {
    .container {
      outline-color: red; } }
  @media (min-width: 768px) {
    .container {
      /*width: 728px;*/
      width: 94.79%;
      outline-color: yellow; } }
  @media (min-width: 1240px) {
    .container {
      /*width: 1220px;*/
      width: 89.3%;
      outline-color: green; } }

.handwriting-subtitle {
  color: #32313d;
  font-family: "IntroScriptR-H2Base", fantasy;
  font-size: 22px;
  font-weight: 400;
  margin: 0; }

.header-top {
  background-color: #fff; }
  @media (min-width: 1240px) {
    .header-top {
      background-color: #fbebea;
      position: relative; } }

.header-top .container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 88%; }
  @media (min-width: 768px) {
    .header-top .container {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      position: static; } }
  @media (min-width: 1240px) {
    .header-top .container {
      -webkit-box-align: baseline;
          -ms-flex-align: baseline;
              align-items: baseline; } }

.header-btm {
  background-color: #fbebea; }
  @media (max-width: 767px) {
    .header-btm {
      background: #fbebea url("../img/cake-bg.png") no-repeat center top -206px;
      text-align: center;
      padding-top: 127px; } }
  @media (min-width: 768px) {
    .header-btm {
      padding-top: 103px;
      background-image: url("../img/cake-bg-tablet.png"), url("../img/strawberry-1.png"), url("../img/flower.png"), url("../img/strawberry-2.png");
      background-repeat: no-repeat;
      background-position: top 15px right -132px, top 30px center, top 250px left 37.76%, bottom 113px left 35.42%;
      background-size: 548px, 72px 71px, 40px 39px, 99px 71px; } }
  @media (min-width: 1240px) {
    .header-btm {
      padding-top: 115px;
      background-image: url("../img/cake-bg-desktop.png"), url("../img/strawberry-1.png"), url("../img/flower.png"), url("../img/strawberry-2.png");
      background-repeat: no-repeat;
      background-position: top 10px right -182px, top 44px left 41.07%, top 228px left 38.36%, top 388px left 26.21%;
      background-size: 918px, 111px 110px, 63px 60px, 168px 119px;
      min-height: 918px; } }
  .header-btm__title {
    color: #2d2829;
    font-family: "Playfair Display", "Times New Roman", serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.22px;
    margin: 0;
    display: inline-block; }
    @media (min-width: 768px) {
      .header-btm__title {
        font-size: 60px;
        line-height: 55px;
        letter-spacing: 0.34px;
        color: #2e2829; } }
    @media (min-width: 1240px) {
      .header-btm__title {
        font-size: 78px;
        line-height: 70px;
        letter-spacing: 0.44px; } }
  .header-btm__subtitle {
    line-height: 66px; }
    @media (min-width: 768px) {
      .header-btm__subtitle {
        font-size: 36px;
        line-height: 78px;
        margin-top: 6px; } }
    @media (min-width: 1240px) {
      .header-btm__subtitle {
        font-size: 41px;
        margin-top: 10px; } }

.choose-cake-btn {
  padding: 12px 66px;
  margin-top: 12px;
  -ms-flex-item-align: center;
      align-self: center; }
  @media (min-width: 768px) {
    .choose-cake-btn {
      -ms-flex-item-align: start;
          align-self: flex-start;
      margin-top: 26px; } }
  @media (min-width: 768px) {
    .choose-cake-btn {
      margin-top: 40px; } }

.header-btm .container {
  width: 88%; }

.logo {
  margin: 3px 0px; }
  @media (min-width: 768px) {
    .logo {
      margin: 13px 0; } }
  @media (min-width: 1240px) {
    .logo {
      margin: 57px 0 22px; } }
  .logo__label {
    font-family: "Playfair Display", "Times New Roman", serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0.24px; }
    @media (min-width: 768px) {
      .logo__label {
        font-size: 20px;
        line-height: 32.69px;
        letter-spacing: 0.31px; } }
    @media (min-width: 1240px) {
      .logo__label {
        font-size: 23px;
        letter-spacing: 0.36px; } }
  .logo--header .logo__label {
    color: #000; }
  .logo--footer {
    margin-top: 35px; }
    @media (min-width: 768px) {
      .logo--footer {
        margin-top: 20px;
        margin-right: 60px; } }
  .logo--footer .logo__label {
    color: #ffff;
    font-size: 28px;
    line-height: 43.87px;
    letter-spacing: 0.32px; }
    @media (min-width: 1240px) {
      .logo--footer .logo__label {
        color: #2d2829; } }

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .main-nav--closed {
    display: inline-block; }
    .main-nav--closed ul {
      display: none; }
      @media (min-width: 1240px) {
        .main-nav--closed ul {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          margin-left: 27px; } }
  .main-nav__target {
    position: absolute;
    top: 50%;
    margin-top: -8px;
    right: 0px;
    display: block;
    width: 20px;
    height: 16px;
    background-color: #fff;
    font-size: 0;
    cursor: pointer;
    border: none;
    outline: none; }
    @media (min-width: 768px) {
      .main-nav__target {
        right: 0;
        top: 0;
        position: relative;
        margin-left: 25px;
        margin-top: 0; } }
    @media (min-width: 1240px) {
      .main-nav__target {
        display: none; } }
    .main-nav__target::before {
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      width: 20px;
      height: 2px;
      background-color: #000;
      border-radius: 1px;
      -webkit-box-shadow: 0 6px 0 0 #000, 0 12px 0 0 #000;
              box-shadow: 0 6px 0 0 #000, 0 12px 0 0 #000; }
  @media (max-width: 767px) {
    .main-nav--opened ul {
      position: fixed;
      top: 40px;
      left: 0;
      right: 0;
      z-index: 2; } }
  @media (min-width: 768px) {
    .main-nav--opened ul {
      position: absolute;
      z-index: 2;
      top: 60px;
      left: 0;
      width: 320px; } }
  @media (min-width: 1240px) {
    .main-nav--opened ul {
      position: static;
      width: auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-left: 27px; } }
  @media (min-width: 1240px) {
    .main-nav__item--row {
      display: inline-block;
      margin-right: 44px; } }
  @media (max-width: 767px) {
    .main-nav__item--ft {
      margin-bottom: 15px; } }
  @media (min-width: 1240px) {
    .main-nav__item--ft {
      margin-right: 45px; } }
  .main-nav__item:last-child {
    margin: 0; }
  .main-nav__link {
    text-decoration: none;
    font-family: Circe, Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    display: block;
    color: inherit; }
    .main-nav__link:hover {
      background-color: #f9dfdd; }
    .main-nav__link:active {
      -webkit-box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.9);
              box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.9); }
    @media (min-width: 1240px) {
      .main-nav__link {
        background-color: transparent;
        -webkit-box-shadow: none;
                box-shadow: none;
        padding: 5px 0; }
        .main-nav__link:hover {
          color: #f50049;
          background: transparent; }
        .main-nav__link:active {
          opacity: 0.6;
          -webkit-box-shadow: none;
                  box-shadow: none; } }
    .main-nav__link--hd {
      color: #383838;
      text-transform: uppercase;
      padding: 13px 0 14px;
      -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
              box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      background-color: #e7e7e7;
      text-align: center; }
      @media (min-width: 1240px) {
        .main-nav__link--hd {
          background: transparent;
          -webkit-box-shadow: none;
                  box-shadow: none; } }
    .main-nav__link--ft {
      color: #fff;
      font-family: Roboto, Arial, sans-serif; }
      .main-nav__link--ft:hover {
        color: #f50049;
        background: transparent; }
      .main-nav__link--ft:active {
        opacity: 0.6;
        -webkit-box-shadow: none;
                box-shadow: none; }
      @media (max-width: 767px) {
        .main-nav__link--ft {
          font-size: 14px; } }
      @media (min-width: 1240px) {
        .main-nav__link--ft {
          color: #2d2829;
          font-family: Circe, Arial, sans-serif;
          font-size: 16px;
          line-height: 32.06px; } }
  .main-nav--opened .main-nav__target::before,
  .main-nav--opened .main-nav__target::after {
    position: absolute;
    content: "";
    top: 5px;
    right: 0;
    width: 23px;
    height: 3px;
    background-color: #000; }
  .main-nav--opened .main-nav__target::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-box-shadow: none;
            box-shadow: none; }
  .main-nav--opened .main-nav__target::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .main-nav--footer {
    margin-top: 16px; }
    @media (min-width: 768px) {
      .main-nav--footer {
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
        margin: 30px 0; } }
    @media (min-width: 1240px) {
      .main-nav--footer {
        margin: auto;
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0; } }
    .main-nav--footer ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      @media (max-width: 767px) {
        .main-nav--footer ul {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column; } }
      @media (min-width: 768px) {
        .main-nav--footer ul {
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; } }

.contact-tel {
  color: inherit;
  font-family: Circe, Arial, sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 39.53px;
  text-decoration: none;
  margin: 10px 0; }
  .contact-tel:hover {
    text-shadow: 0 0 2px #f50049; }
  .contact-tel--header {
    margin-left: auto;
    color: #2d2829; }
    @media (max-width: 767px) {
      .contact-tel--header {
        display: none; } }
  .contact-tel--footer {
    color: #fff; }
    @media (min-width: 768px) {
      .contact-tel--footer {
        display: none; } }

.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media (min-width: 768px) {
    .features-list {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      margin-top: 154px; } }
  @media (min-width: 1240px) {
    .features-list {
      margin-top: 136px; } }
  .features-list__item {
    color: #000;
    font-family: Circe, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 30px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    @media (min-width: 768px) {
      .features-list__item {
        line-height: 18px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-bottom: 0; } }
    .features-list__item::before {
      content: '';
      display: block;
      width: 33px;
      height: 33px; }
      @media (min-width: 768px) {
        .features-list__item::before {
          width: 55px;
          height: 55px; } }
    @media (max-width: 767px) {
      .features-list__item--max {
        padding-top: 70px;
        text-align: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-bottom: 15px; } }
    @media (min-width: 768px) {
      .features-list__item--max {
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        padding-left: 50px;
        margin-bottom: 15px; } }
    @media (min-width: 1240px) {
      .features-list__item--max {
        margin-bottom: 30px; } }
    .features-list__item--max::before {
      width: 61px;
      height: 61px;
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      top: 0; }
      @media (min-width: 768px) {
        .features-list__item--max::before {
          left: 0;
          width: 48px;
          height: 48px;
          top: 8px; } }
      @media (min-width: 1240px) {
        .features-list__item--max::before {
          width: 61px;
          height: 61px; } }
    .features-list__item--natural::before {
      background: url(../img/natural-icon.png) no-repeat;
      background-size: contain; }
    .features-list__item--gift::before {
      background: url(../img/gift-icon.png) no-repeat;
      background-size: contain; }
    .features-list__item--term::before {
      background: url(../img/term-icon-mob.png) no-repeat;
      background-size: contain;
      width: 84px;
      height: 50px; }
      @media (min-width: 768px) {
        .features-list__item--term::before {
          width: 63px;
          height: 38px; } }
      @media (min-width: 1240px) {
        .features-list__item--term::before {
          width: 84px;
          height: 50px; } }
    @media (max-width: 767px) {
      .features-list__item--term {
        padding-top: 60px; } }
  .features-list__heading {
    margin-top: 5px;
    margin-bottom: 3px; }
    @media (min-width: 1240px) {
      .features-list__heading {
        font-size: 20px;
        line-height: 27px; } }
  .features-list__desc {
    margin: 0;
    margin-left: 10px;
    max-width: 200px; }
    @media (min-width: 768px) {
      .features-list__desc {
        margin-left: 15px;
        max-width: 155px; } }
    .features-list__desc--max {
      margin: 0; }
      @media (max-width: 767px) {
        .features-list__desc--max {
          max-width: 90%; } }
      @media (min-width: 768px) {
        .features-list__desc--max {
          max-width: 300px; } }
      @media (min-width: 1240px) {
        .features-list__desc--max {
          font-size: 20px;
          line-height: 24px;
          max-width: 375px; } }
  .features-list--column {
    margin: 0 auto;
    padding-top: 10px; }
    @media (min-width: 768px) {
      .features-list--column {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        margin-bottom: 45px; } }
    @media (min-width: 1240px) {
      .features-list--column {
        margin-top: 55px;
        margin-bottom: 80px; } }
  .features-list--column .features-list__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

.section-title {
  color: #2d2829;
  font-family: "Playfair Display", "Times New Roman", serif;
  font-weight: 700; }
  @media (max-width: 767px) {
    .section-title {
      font-size: 24px;
      line-height: 65.96px;
      letter-spacing: 0.04px; } }
  @media (min-width: 768px) {
    .section-title {
      font-size: 28px;
      line-height: 39.34px;
      letter-spacing: 0.07px; } }
  @media (min-width: 1240px) {
    .section-title {
      font-size: 40px;
      line-height: 65.96px;
      letter-spacing: 0.06px; } }

.assortment {
  background-color: #fbebea;
  padding-bottom: 40px; }
  @media (max-width: 767px) {
    .assortment__title {
      text-align: center;
      margin: 30px 0 15px; } }
  @media (min-width: 768px) {
    .assortment__title {
      margin-top: 143px;
      margin-bottom: 35px; } }
  @media (min-width: 1240px) {
    .assortment__title {
      margin-top: -180px;
      margin-bottom: 55px; } }
  .assortment__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 767px) {
      .assortment__row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
    @media (min-width: 1240px) {
      .assortment__row {
        width: 100%; } }
    @media (min-width: 768px) {
      .assortment__row:last-child .assortment__wrap .assortment-item:last-child {
        margin-bottom: 0; } }
  @media (min-width: 768px) {
    .assortment__wrap {
      -ms-flex-preferred-size: 0%;
          flex-basis: 0%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
      margin-right: 20px; } }
  @media (min-width: 1240px) {
    .assortment__wrap {
      margin-right: auto;
      -ms-flex-preferred-size: auto;
          flex-basis: auto; } }
  .assortment__wrap:last-child {
    margin-right: 0; }
  @media (min-width: 768px) {
    .assortment__wrap--large {
      width: 62.07%;
      -ms-flex-line-pack: center;
          align-content: center; } }
  @media (min-width: 1240px) {
    .assortment__wrap--large {
      width: 57.05%; } }
  @media (min-width: 768px) {
    .assortment__wrap--small {
      width: 42.67%; } }
  @media (min-width: 1240px) {
    .assortment__wrap--small {
      width: 39.67%; } }
  .assortment__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

.assortment-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100%; }
  @media (max-width: 767px) {
    .assortment-item {
      width: 280px;
      height: 120px;
      margin-bottom: 10px;
      padding: 13px; } }
  @media (min-width: 768px) {
    .assortment-item {
      width: 288px;
      height: 184px;
      margin-bottom: 20px;
      padding: 25px 30px;
      -webkit-box-shadow: 0 10px 13px 1px rgba(163, 6, 60, 0.05);
              box-shadow: 0 10px 13px 1px rgba(163, 6, 60, 0.05); } }
  @media (min-width: 1240px) {
    .assortment-item {
      width: 484px;
      height: 305px;
      margin-bottom: 40px;
      padding: 36px 50px; } }
  @media (max-width: 767px) {
    .assortment-item--classic {
      background: url("../img/classic-cakes-mobile.jpg") no-repeat center center;
      background-size: contain; } }
  @media (min-width: 768px) {
    .assortment-item--classic {
      background: url("../img/classic-cakes-tablet.jpg") no-repeat center center; } }
  @media (min-width: 1240px) {
    .assortment-item--classic {
      background: url("../img/classic-cakes-desktop.jpg") no-repeat center center; } }
  @media (max-width: 767px) {
    .assortment-item--mousse {
      background: url("../img/mousse-cakes-mobile.jpg") no-repeat center center; } }
  @media (min-width: 768px) {
    .assortment-item--mousse {
      background: url("../img/mousse-cakes-tablet.jpg") no-repeat center center; } }
  @media (min-width: 1240px) {
    .assortment-item--mousse {
      background: url("../img/mousse-cakes-desktop.jpg") no-repeat center center; } }
  @media (max-width: 767px) {
    .assortment-item--wedding {
      background: url("../img/wedding-cakes-mobile.jpg") no-repeat center center; } }
  @media (min-width: 768px) {
    .assortment-item--wedding {
      background: url("../img/wedding-cakes-tablet.jpg") no-repeat center center; } }
  @media (min-width: 1240px) {
    .assortment-item--wedding {
      background: url("../img/wedding-cakes-desktop.jpg") no-repeat center center; } }
  @media (max-width: 767px) {
    .assortment-item--man {
      background: url("../img/man-cakes-mobile.jpg") no-repeat center center; } }
  @media (min-width: 768px) {
    .assortment-item--man {
      background: url("../img/man-cakes-tablet.jpg") no-repeat center center; } }
  @media (min-width: 1240px) {
    .assortment-item--man {
      background: url("../img/man-cakes-desktop.jpg") no-repeat center center; } }
  @media (max-width: 767px) {
    .assortment-item--woman {
      background: url("../img/woman-cakes-mobile.jpg") no-repeat center center; } }
  @media (min-width: 768px) {
    .assortment-item--woman {
      background: url("../img/woman-cakes-tablet.jpg") no-repeat center center; } }
  @media (min-width: 1240px) {
    .assortment-item--woman {
      background: url("../img/woman-cakes-desktop.jpg") no-repeat center center; } }
  @media (max-width: 767px) {
    .assortment-item--kids {
      background: url("../img/kids-cakes-mobile.jpg") no-repeat center center; } }
  @media (min-width: 768px) {
    .assortment-item--kids {
      background: url("../img/kids-cakes-tablet.jpg") no-repeat center center; } }
  @media (min-width: 1240px) {
    .assortment-item--kids {
      background: url("../img/kids-cakes-desktop.jpg") no-repeat center center; } }
  @media (min-width: 768px) {
    .assortment-item--large {
      width: 419px;
      height: 388px; } }
  @media (min-width: 1240px) {
    .assortment-item--large {
      width: 696px;
      height: 652px; } }
  .assortment-item__title {
    font-family: Circe, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    color: #2d2829; }
    @media (min-width: 1240px) {
      .assortment-item__title {
        font-size: 24px; } }
    .assortment-item__title a {
      text-decoration: none;
      color: inherit; }
  .assortment-item__amt {
    font-family: Circe, Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    opacity: .7;
    color: #2d2829; }
    @media (min-width: 1240px) {
      .assortment-item__amt {
        font-size: 20px; } }
  .assortment-item__more {
    display: none; }
    @media (min-width: 1240px) {
      .assortment-item__more {
        position: absolute;
        right: 70px;
        bottom: 40px; } }

.about-us {
  background-color: #fbebea; }
  @media (min-width: 1240px) {
    .about-us {
      padding-top: 150px; } }
  .about-us__title {
    -webkit-box-ordinal-group: -3;
        -ms-flex-order: -4;
            order: -4;
    margin-bottom: 5px; }
    @media (max-width: 767px) {
      .about-us__title {
        width: 100%;
        text-align: center;
        margin-top: 25px; } }
    @media (min-width: 768px) {
      .about-us__title {
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%; } }
    @media (min-width: 1240px) {
      .about-us__title {
        margin-bottom: 15px; } }
  .about-us__subtitle {
    -webkit-box-ordinal-group: -2;
        -ms-flex-order: -3;
            order: -3;
    margin-bottom: 10px;
    font-size: 26px; }
    @media (max-width: 767px) {
      .about-us__subtitle {
        -webkit-box-ordinal-group: 0;
            -ms-flex-order: -1;
                order: -1;
        text-align: center;
        margin-top: 10px;
        width: 100%;
        margin-bottom: 5px; } }
    @media (min-width: 768px) {
      .about-us__subtitle {
        -ms-flex-preferred-size: 51%;
            flex-basis: 51%; } }
  .about-us__column {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media (max-width: 767px) {
      .about-us__column {
        max-width: 355px; } }
    @media (min-width: 768px) {
      .about-us__column {
        width: 55%;
        -webkit-box-ordinal-group: -1;
            -ms-flex-order: -2;
                order: -2; } }
    @media (min-width: 1240px) {
      .about-us__column {
        width: 50%; } }
    .about-us__column--1 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      @media (max-width: 767px) {
        .about-us__column--1 {
          -webkit-box-ordinal-group: -1;
              -ms-flex-order: -2;
                  order: -2; } }
      @media (min-width: 768px) {
        .about-us__column--1 {
          position: absolute;
          right: 0;
          top: 0;
          width: auto; } }
      @media (min-width: 1240px) {
        .about-us__column--1 {
          width: 50%;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center; } }
  .about-us__chapter {
    margin: 0;
    margin-bottom: 10px;
    color: #2d2829;
    font-weight: 700; }
    @media (min-width: 768px) {
      .about-us__chapter {
        font-size: 15px;
        line-height: 15px; } }
    @media (min-width: 1240px) {
      .about-us__chapter {
        font-size: 20px;
        line-height: 27px;
        margin-bottom: 5px; } }
  .about-us__info {
    margin: 0;
    margin-bottom: 10px;
    color: #2d2829;
    font-family: Circe, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400; }
    @media (max-width: 767px) {
      .about-us__info {
        margin-bottom: 15px; } }
    @media (min-width: 1240px) {
      .about-us__info {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 20px; } }
  @media (max-width: 767px) {
    .about-us__avatar {
      margin-right: 35px; } }

@media (max-width: 767px) {
  .about-us .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }

.chef-quote {
  margin: 0 auto;
  margin-top: 25px;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  @media (min-width: 768px) {
    .chef-quote {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2;
      margin-top: 45px; } }
  @media (min-width: 1240px) {
    .chef-quote {
      margin-top: 195px; } }
  .chef-quote__text {
    color: #2d2829;
    font-family: "Playfair Display", "Times New Roman", serif;
    font-size: 13px;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 0.26px;
    text-align: center;
    position: relative;
    margin: 0;
    margin-bottom: 20px; }
    @media (max-width: 767px) {
      .chef-quote__text {
        max-width: 300px;
        padding-top: 30px; } }
    @media (min-width: 768px) {
      .chef-quote__text {
        max-width: 365px;
        padding-top: 35px;
        margin-bottom: 25px;
        font-size: 14px; } }
    @media (min-width: 1240px) {
      .chef-quote__text {
        font-size: 25px;
        line-height: 38px;
        max-width: 640px;
        padding-top: 60px;
        margin-bottom: 45px; } }
    .chef-quote__text::before {
      content: '’’';
      color: #fffefe;
      font-family: "Playfair Display", "Times New Roman", serif;
      position: absolute;
      top: 0;
      left: 50%;
      font-weight: 700;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
      @media (max-width: 767px) {
        .chef-quote__text::before {
          font-size: 60px;
          line-height: 30px; } }
      @media (min-width: 768px) {
        .chef-quote__text::before {
          font-size: 77px;
          line-height: 38px; } }
      @media (min-width: 1240px) {
        .chef-quote__text::before {
          font-size: 140px;
          line-height: 70px; } }
  .chef-quote__sign {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

.features-sec {
  background-color: #fbebea; }
  @media (max-width: 767px) {
    .features-sec {
      padding-bottom: 170px;
      background: #fbebea url("../img/plate-1-mob.png") no-repeat center bottom -285px; } }
  @media (min-width: 768px) {
    .features-sec {
      background-image: url("../img/leaves-icon.png"), url("../img/berry-1-tab.png"), url("../img/leaf-tab.png"), url("../img/cherry-tab.png");
      background-repeat: no-repeat;
      background-position: left 28% top 55%, left top 15%, left 8.16% top 8%, left 22.09% top 11%; } }
  @media (min-width: 1240px) {
    .features-sec {
      background-image: url("../img/leaves-icon-desktop.png"), url("../img/berry-1-desktop.png"), url("../img/leaf-desktop.png"), url("../img/cherry-desktop.png");
      background-repeat: no-repeat;
      background-position: left 35% top 55%, left top 15%, left 8.16% top 8%, left 22.09% top 11%; } }
  .features-sec__title {
    text-align: center;
    line-height: normal;
    margin-top: 40px;
    margin-bottom: 6px; }
    @media (min-width: 1240px) {
      .features-sec__title {
        margin-top: 130px;
        margin-bottom: 25px; } }
  .features-sec__subtitle {
    text-align: center;
    margin-bottom: 10px; }
  @media (max-width: 767px) {
    .features-sec__wrap {
      background-color: #fff; } }
  @media (min-width: 768px) {
    .features-sec__wrap {
      padding-top: 50px;
      padding-bottom: 100px;
      margin-bottom: 20px;
      background: url("../img/berries-plate.png") no-repeat top left -20px; } }
  @media (min-width: 1240px) {
    .features-sec__wrap {
      padding-bottom: 240px;
      background: url("../img/berries-plate-desktop.png") no-repeat top left -20px; } }

.care-about {
  position: relative; }
  @media (max-width: 767px) {
    .care-about {
      background-color: #fbebea; } }
  @media (min-width: 768px) {
    .care-about {
      padding: 0 30px 130px 30px; } }
  @media (min-width: 1240px) {
    .care-about {
      padding: 55px 0 250px 0; } }
  .care-about::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
    @media (min-width: 768px) {
      .care-about::before {
        background: url("../img/plate-1-mob.png") no-repeat right -35px bottom -30px;
        padding: 140px 0 0;
        margin: -140px 0 0; } }
    @media (min-width: 1240px) {
      .care-about::before {
        background: url("../img/plate-1-desktop.png") no-repeat right -50px bottom -30px;
        padding: 370px 0 0;
        margin: -370px 0 0; } }
  .care-about__wrap {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .care-about__title {
    margin-top: 25px;
    margin-bottom: 0;
    line-height: normal; }
    @media (min-width: 1240px) {
      .care-about__title {
        margin-top: 0; } }
  .care-about__subtitle {
    margin-top: 5px; }
    @media (min-width: 1240px) {
      .care-about__subtitle {
        margin-bottom: 15px; } }
  .care-about__content {
    color: #000;
    font-family: Circe, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    @media (max-width: 767px) {
      .care-about__content {
        padding-right: 27px;
        max-width: 400px; } }
    @media (min-width: 768px) {
      .care-about__content {
        max-width: 315px; } }
    @media (min-width: 1240px) {
      .care-about__content {
        font-size: 20px;
        line-height: 24px;
        max-width: 450px; } }

.how-to {
  color: #fff;
  position: relative;
  background-color: #e3353d; }
  @media (max-width: 767px) {
    .how-to {
      padding-bottom: 150px; } }
  @media (min-width: 768px) {
    .how-to {
      padding-bottom: 60px; } }
  @media (min-width: 1240px) {
    .how-to {
      padding-bottom: 185px; } }
  .how-to::after {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0; }
    @media (max-width: 767px) {
      .how-to::after {
        background: #e3353d url("../img/gift-box-mob.png") no-repeat center bottom;
        width: 100%;
        height: 150px; } }
    @media (min-width: 768px) {
      .how-to::after {
        background: #e3353d url("../img/gift-box-tablet.jpg") no-repeat center center;
        background-size: cover;
        top: 0; } }
    @media (min-width: 1240px) {
      .how-to::after {
        content: none; } }
  @media (min-width: 1240px) {
    .how-to {
      background: #e3353d url("../img/gift-box-desktop.jpg") no-repeat center center;
      background-size: cover; } }
  @media (max-width: 767px) {
    .how-to__wrap {
      max-width: 280px; } }
  @media (min-width: 768px) {
    .how-to__wrap {
      max-width: 350px; } }
  @media (min-width: 1240px) {
    .how-to__wrap {
      max-width: 490px; } }
  .how-to__title {
    color: #fff; }
    @media (max-width: 767px) {
      .how-to__title {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 15px; } }
    @media (min-width: 768px) {
      .how-to__title {
        margin-top: 45px;
        margin-bottom: 30px; } }
    @media (min-width: 1240px) {
      .how-to__title {
        margin-top: 110px; } }
  .how-to__info {
    list-style: none;
    margin: 0;
    padding: 0;
    counter-reset: num; }

.how-to .container {
  z-index: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  @media (max-width: 767px) {
    .how-to .container {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  @media (min-width: 768px) {
    .how-to .container {
      padding-left: 40%;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  @media (min-width: 1240px) {
    .how-to .container {
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      padding-left: 0; } }

.how-to-item {
  position: relative;
  padding-left: 45px; }
  @media (max-width: 767px) {
    .how-to-item {
      margin-bottom: 20px; } }
  @media (min-width: 768px) {
    .how-to-item {
      margin-bottom: 30px; } }
  @media (min-width: 1240px) {
    .how-to-item {
      padding-left: 50px; } }
  .how-to-item:last-child {
    margin-bottom: 0; }
  .how-to-item::before {
    position: absolute;
    top: -15px;
    left: 0;
    color: #ffffff;
    font-family: "Playfair Display", "Times New Roman", serif;
    font-size: 35px;
    font-weight: 700;
    counter-increment: num;
    content: counter(num); }
    @media (max-width: 767px) {
      .how-to-item::before {
        left: 20px; } }
    @media (min-width: 768px) {
      .how-to-item::before {
        font-size: 36px; } }
    @media (min-width: 1240px) {
      .how-to-item::before {
        font-size: 64px;
        top: -30px; } }
  .how-to-item__heading {
    margin: 0;
    margin-bottom: 7px;
    font-family: Circe, Arial, sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.4px; }
    @media (min-width: 1240px) {
      .how-to-item__heading {
        font-size: 21px; } }
  .how-to-item__text {
    margin: 0;
    font-weight: 400;
    font-size: 14px; }
    @media (min-width: 1240px) {
      .how-to-item__text {
        font-size: 20px; } }

.contacts {
  background-color: #fbebea; }
  @media (min-width: 768px) {
    .contacts {
      background: #fbebea url(../img/contacts-strawberries.png) no-repeat right -145px bottom;
      background-blend-mode: multiply; } }
  @media (min-width: 1240px) {
    .contacts {
      background-image: url("../img/strawberries-desktop.png");
      background-position: right -70px bottom;
      padding-bottom: 305px; } }
  .contacts__title {
    line-height: normal;
    margin-top: 33px;
    margin-bottom: 5px; }
    @media (max-width: 767px) {
      .contacts__title {
        text-align: center; } }
    @media (min-width: 768px) {
      .contacts__title {
        margin-top: 40px; } }
    @media (min-width: 1240px) {
      .contacts__title {
        margin-top: 70px;
        margin-bottom: 30px; } }
  .contacts__subtitle {
    line-height: normal; }
    @media (max-width: 767px) {
      .contacts__subtitle {
        text-align: center; } }
    @media (min-width: 1240px) {
      .contacts__subtitle {
        margin-bottom: 18px; } }
  .contacts__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 767px) {
      .contacts__wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
    @media (min-width: 1240px) {
      .contacts__wrap {
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start; } }
  @media (max-width: 767px) {
    .contacts__column-left {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  @media (min-width: 768px) {
    .contacts__column-left {
      -webkit-box-flex: 0.5;
          -ms-flex-positive: 0.5;
              flex-grow: 0.5; } }
  @media (min-width: 1240px) {
    .contacts__column-left {
      -webkit-box-flex: 0;
          -ms-flex-positive: 0;
              flex-grow: 0; } }
  .contacts__offer {
    color: #000;
    font-family: Circe, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 10px; }
    @media (min-width: 768px) {
      .contacts__offer {
        max-width: 250px;
        margin-bottom: 16px;
        margin-top: 10px; } }
    @media (min-width: 1240px) {
      .contacts__offer {
        margin-top: 0;
        max-width: 100%;
        margin-bottom: 10px; } }

@media (min-width: 768px) {
  .contacts .container {
    padding: 0 25px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; } }

.question-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%; }
  @media (max-width: 767px) {
    .question-form {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  .question-form__item {
    margin-bottom: 10px;
    width: 100%; }
    @media (max-width: 767px) {
      .question-form__item {
        max-width: 400px; } }
    @media (min-width: 768px) {
      .question-form__item {
        min-width: 345px;
        max-width: 590px; } }
    @media (min-width: 1240px) {
      .question-form__item {
        margin-bottom: 0;
        width: 550px; } }
    .question-form__item:last-of-type {
      margin: 0; }
  .question-form__input {
    color: #000;
    font-family: Circe, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: block;
    padding: 17px 10px;
    border: none;
    background-color: #fff;
    border-radius: 3px; }
    @media (min-width: 1240px) {
      .question-form__input {
        background-color: transparent;
        border-bottom: 2px solid rgba(0, 0, 0, 0.2);
        padding: 0;
        padding-top: 35px;
        line-height: 24px;
        height: 60px;
        border-radius: 0; } }
    .question-form__input--msg {
      min-height: 120px;
      overflow: hidden;
      resize: none; }
      @media (min-width: 1240px) {
        .question-form__input--msg {
          min-height: auto; } }
    .question-form__input::-webkit-input-placeholder {
      opacity: 0.4; }
    .question-form__input::-ms-input-placeholder {
      opacity: 0.4; }
    .question-form__input:-ms-input-placeholder {
      opacity: 0.4; }
    .question-form__input::placeholder {
      opacity: 0.4; }
  .question-form__btn {
    color: #fefefe;
    font-size: 19px;
    text-transform: none;
    -ms-flex-item-align: start;
        align-self: flex-start; }
    @media (max-width: 767px) {
      .question-form__btn {
        -ms-flex-item-align: center;
            align-self: center;
        margin-top: 20px;
        padding: 12px 40px; } }
    @media (min-width: 768px) {
      .question-form__btn {
        margin-top: 30px;
        margin-bottom: 110px;
        padding: 8px 35px; } }
    @media (min-width: 1240px) {
      .question-form__btn {
        margin-top: 80px;
        margin-bottom: 0;
        padding: 14px 47px; } }

.contacts-list {
  list-style: none;
  margin: 0;
  padding: 0; }
  @media (max-width: 767px) {
    .contacts-list {
      margin-top: 30px; } }
  @media (min-width: 768px) {
    .contacts-list {
      margin-top: 10px;
      margin-left: 65px; } }
  @media (min-width: 1240px) {
    .contacts-list {
      margin-top: 0;
      margin-left: 80px; } }
  .contacts-list__item {
    font-family: Circe, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 16px;
    color: #000; }
    @media (min-width: 1240px) {
      .contacts-list__item {
        margin-bottom: 35px; } }
    .contacts-list__item a {
      white-space: nowrap;
      text-decoration: none;
      color: inherit; }
      .contacts-list__item a:hover {
        text-decoration: underline; }
      .contacts-list__item a:active {
        opacity: .7; }

.page-footer {
  background-color: #898989; }
  @media (min-width: 1240px) {
    .page-footer {
      background-color: #e8e8e8; } }
  .page-footer__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    @media (max-width: 767px) {
      .page-footer__top {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    @media (min-width: 1240px) {
      .page-footer__top {
        margin-top: 20px; } }
  .page-footer__dev {
    width: 100%;
    margin: 0;
    border: 1px solid #fff;
    opacity: 0.1; }
    @media (min-width: 768px) {
      .page-footer__dev {
        margin: 6%; } }
    @media (min-width: 1240px) {
      .page-footer__dev {
        border-color: #000;
        margin: 0; } }

@media (max-width: 767px) {
  .social {
    margin-bottom: 30px; } }

@media (min-width: 768px) {
  .social {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-right: auto; } }

@media (min-width: 1240px) {
  .social {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    -ms-flex-item-align: center;
        align-self: center;
    margin: 0; } }

.social__btn {
  position: relative;
  display: inline-block;
  vertical-align: top; }
  .social__btn:last-child {
    margin-right: 0; }
  .social__btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0; }

.social--contacts {
  margin-top: 15px;
  margin-bottom: 50px; }
  @media (min-width: 1240px) {
    .social--contacts {
      margin-top: 25px; } }

.social--contacts .social__btn {
  width: 63px;
  height: 63px;
  border-radius: 50%;
  margin-right: 30px; }
  .social--contacts .social__btn:hover {
    -webkit-box-shadow: 0 2px 7px 1px rgba(255, 0, 67, 0.2);
            box-shadow: 0 2px 7px 1px rgba(255, 0, 67, 0.2); }
  .social--contacts .social__btn::before {
    width: 63px;
    height: 63px;
    border-radius: 50%; }
  .social--contacts .social__btn--ins::before {
    background: #fff url("../img/inst-icon.png") no-repeat center center; }
  .social--contacts .social__btn--vk::before {
    background: #fff url("../img/vk-icon.png") no-repeat center center; }

.social--footer .social__btn {
  width: 32px;
  height: 25px;
  opacity: 0.4;
  margin-right: 10px; }
  .social--footer .social__btn:hover {
    opacity: 1; }
  .social--footer .social__btn--ins::before {
    width: 23px;
    height: 23px;
    background: url("../img/inst-icon-white.png") no-repeat center center; }
    @media (min-width: 1240px) {
      .social--footer .social__btn--ins::before {
        background: url("../img/inst-icon-black.png") no-repeat center center; } }
  .social--footer .social__btn--vk::before {
    width: 32px;
    height: 22px;
    background: url("../img/vk-icon-white.png") no-repeat center center; }
    @media (min-width: 1240px) {
      .social--footer .social__btn--vk::before {
        background: url("../img/vk-icon-black.png") no-repeat center center; } }

.social--chef {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0; }
  @media (max-width: 767px) {
    .social--chef {
      -webkit-box-ordinal-group: -1;
          -ms-flex-order: -2;
              order: -2;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  @media (min-width: 768px) {
    .social--chef {
      margin-top: 10px;
      width: 100%; } }
  @media (min-width: 1240px) {
    .social--chef {
      margin-top: 0; } }

.social--chef .social__btn {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #fff; }
  @media (max-width: 767px) {
    .social--chef .social__btn {
      margin-bottom: 15px; } }
  @media (min-width: 768px) {
    .social--chef .social__btn {
      margin-right: 20px; } }
  .social--chef .social__btn:last-child {
    margin: 0; }
  .social--chef .social__btn::before {
    width: 36px;
    height: 36px; }
  .social--chef .social__btn:hover {
    -webkit-box-shadow: 0 2px 7px 1px rgba(255, 0, 67, 0.2);
            box-shadow: 0 2px 7px 1px rgba(255, 0, 67, 0.2); }
  .social--chef .social__btn--ins::before {
    background: url("../img/inst-pink-mob.png") no-repeat center center; }
  .social--chef .social__btn--vk::before {
    height: 30px;
    width: 32px;
    background: url("../img/vk-pink-mob.png") no-repeat center center; }
  .social--chef .social__btn--tw::before {
    background: url("../img/tw-pink-mob.png") no-repeat center center; }

@media (min-width: 768px) {
  .copyright {
    margin: 10px 30px 10px auto; } }

@media (min-width: 1240px) {
  .copyright {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 11px auto; } }

.copyright__data {
  opacity: 0.5;
  color: #ffffff;
  font-family: Roboto, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.48px;
  margin: 3px 0; }
  @media (min-width: 1240px) {
    .copyright__data {
      color: #000; } }
